<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="weekly-goals.component.css">
</head>
<body>
    <div class="top">
        <header>Weekly Goals</header>
        <h1>9/24 - 9/30</h1>
        <img src="pencil2.jpg" alt="Pencil Image"/>
    </div>

    <div class="google">
        <label>
            <input type="checkbox" class="the-checkbox">
            <span>Finish Google cover letter...</span>
        </label>
        <p class="hashtag google-hashtag">#apply-internships</p>
    </div>
    
    <div class="microsoft">
        <label>
            <input type="checkbox" class="the-checkbox">
            <span>Apply to Microsoft</span>
        </label>
        <p class="hashtag microsoft-hashtag">#apply-internships</p>
    </div>
    
    <div class="data">
        <label>
            <input type="checkbox" class="the-checkbox">
            <span>Practice implementing data structure...</span>
        </label>
        <p class="hashtag data-hashtag">#interview-technical</p>
    </div>
    
    <div class="add">
        <p>+ Add a quarter goal</p>   
    </div>
</body>
</html>
