<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <link rel="stylesheet" href="weekly-goals-modal.component.css">
    </head>
    <body>        
        <div class="google">
            <div class="goal-item">
                <div class="img-g">
                    <img src="drag.jpg" alt="drag icon"/>
                </div>
                <label for="goal-category-google">Finish Google cover letter...</label>
                <div class="drop-g">
                    <select id="goal-category-google" name="goal-category">
                        <option class="internships-option" value="internships">#apply-internships</option>
                        <option class="projects-option" value="projects">#class-algorithms</option>
                        <option class="networking-option" value="networking">quarterly goal...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="microsoft">
            <div class="goal-item">
                <div class="img-m">
                    <img src="drag.jpg" alt="drag icon"/>
                </div>
                <label for="goal-category-microsoft">Apply to Microsoft</label>
                <div class="drop-m">
                    <select id="goal-category-microsoft" name="goal-category1">
                        <option class="internships-option" value="internships">#apply-internships</option>
                        <option class="projects-option" value="projects">#class-algorithms</option>
                        <option class="networking-option" value="networking">quarterly goal...</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="data">
            <div class="goal-item">
                <div class="img-d">
                    <img src="drag.jpg" alt="drag icon"/>
                </div>
                <label for="goal-category-data">Practice implementing data structure...</label>
                <div class="drop-d">
                    <select id="goal-category-data" name="goal-category2">
                        <option class="internships-option" value="internships">#apply-internships</option>
                        <option class="projects-option" value="projects">#class-algorithms</option>
                        <option class="networking-option" value="networking">quarterly goal...</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="add">
            <div class="goal-item">
                <div class="img-a">
                    <img src="drag.jpg" alt="drag icon"/>
                </div>
                <label for="goal-category-add">Enter your goal...</label>
                <div class="drop-a">
                    <select id="goal-category-add" name="goal-category3">
                        <option class="internships-option" value="internships">#apply-internships</option>
                        <option class="projects-option" value="projects">#class-algorithms</option>
                        <option class="networking-option" value="networking">quarterly goal...</option>
                    </select>
                </div>
            </div>
        </div> 
    </body>
</html>

